* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.col-lg-6>img {
    width: 110%;
    height: 45rem;
    border-radius: 250px 0px 0px 30px;
}

.row {
    background-color: white;
    border-radius: 250px 30px 250px 30px;
    box-shadow: 12px 12px 28px;
    width: auto;
    height: 45rem;
}

.login h1{
    font-size: 50px;
    font-weight: 700;
}

.inp{
    height: 50px;
    width: 280px;
    outline: none;
    border: 0px;
    border-radius: 60px;
    box-shadow:1px 1px 5px;
}

.inp:hover{
    width: 300px;
    background-color: rgb(255, 154, 3, 0.2);
    box-shadow:1px 1px 8px;
    transform: 2s;
}

.btn{
    width: 200px;
    height: 50px;
    border-radius: 60px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.btn:hover{
    border: none;
    background-color: rgb(255, 154, 3);
    color: white;
    font-size: 21px;
    transition:  0.5s;
}

.fa-brands, .fa-solid{
    padding: 10px;
    font-size: 30px;
}

.fa-brands:hover{
    font-size: 32px;
    padding: 8px;
    color:  rgb(255, 154, 3) ;
}

.fa-solid:hover{
    font-size: 32px;
    padding: 8px;
    color:  rgb(255, 154, 3) ;
}

p{
   font-size: 18px;
}

section{
    display: flex;
    height: 100vh;
    align-items: center;
}